<?xml version="1.0" encoding="utf-8"?>
<PackageConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Packages>
    <Package id="Bonsai" version="2.8.5" />
    <Package id="Bonsai.Core" version="2.8.5" />
    <Package id="Bonsai.Design" version="2.8.5" />
    <Package id="Bonsai.Design.Visualizers" version="2.8.0" />
  </Packages>
  <AssemblyReferences>
    <AssemblyReference assemblyName="Bonsai" />
    <AssemblyReference assemblyName="Bonsai.Core" />
    <AssemblyReference assemblyName="Bonsai.Design" />
    <AssemblyReference assemblyName="Bonsai.Design.Visualizers" />
  </AssemblyReferences>
  <AssemblyLocations>
    <AssemblyLocation assemblyName="Bonsai" processorArchitecture="MSIL" location="Packages/Bonsai.2.8.5/lib/net48/Bonsai.exe" />
    <AssemblyLocation assemblyName="Bonsai.Core" processorArchitecture="MSIL" location="Packages/Bonsai.Core.2.8.5/lib/net462/Bonsai.Core.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design" processorArchitecture="MSIL" location="Packages/Bonsai.Design.2.8.5/lib/net462/Bonsai.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design.Visualizers" processorArchitecture="MSIL" location="Packages/Bonsai.Design.Visualizers.2.8.0/lib/net462/Bonsai.Design.Visualizers.dll" />
  </AssemblyLocations>
  <LibraryFolders>
  </LibraryFolders>
</PackageConfiguration>