name: ci/cd

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main
      - dev

jobs:

  python-linting:
    uses: AllenNeuralDynamics/Aind.Behavior.GitHubActions/.github/workflows/python-linting.yml@main
    with:
        runs-on: windows-latest

  aind-behavior-framework-testing:
    uses: AllenNeuralDynamics/Aind.Behavior.GitHubActions/.github/workflows/python-unit-test.yml@main
    with:
        python-version-path: .python-version
        runs-on: windows-latest
        run-coverage: true